# Start phpstan with: php -d memory_limit=-1 vendor/bin/phpstan analyse
# Comment "new ContaoNewsBundle" in vendor/contao/core-bundle/tests/Functional/app/AppKernel.php

includes:
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    level: 4
    paths:
        - src/Plenta/ContaoCountUpBundle

    # Classes without predefined structure. Classes that give you the error "Access to an undefined property".
    universalObjectCratesClasses:

    ignoreErrors:
        - '#Access to an undefined property Contao(.*)#'
        - '#Constant TL_MODE not found.#'
        - '#Constant FE_USER_LOGGED_IN not found.#'
        - '#Constant REQUEST_TOKEN not found.#'
        - '#PHPUnit\\Framework\\MockObject\\MockObject(.*)#'

    symfony:
        container_xml_path: /Volumes/Extreme SSD 120GB/htdocs/97Media/Contao-Dev/var/cache/dev/appContao_ManagerBundle_HttpKernel_ContaoKernelDevDebugContainer.xml
