includes:
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    level: 4
    paths:
        - src/Plenta/ContaoCountUpBundle

    # Classes without predefined structure. Classes that give you the error "Access to an undefined property".
    universalObjectCratesClasses:

    ignoreErrors:
        - '#Access to an undefined property Contao(.*)#'
        - '#PHPUnit\\Framework\\MockObject\\MockObject(.*)#'

    symfony:
        container_xml_path: %currentWorkingDirectory%/var/cache/dev/appContao_ManagerBundle_HttpKernel_ContaoKernelDevDebugContainer.xml
